<div class="itemlist-header">
  <div class="left-header">
    <div class="header-title">
      ロピア
    </div>
  </div>
  <div class="right-header">
    <div class="header-botton">
      <a href="#">店舗情報を削除する</a>
    </div>
  </div>
</div>

<div class="items">
  <div class="item">
    <div class="item-img-content">
    </div>
    <div class="item-info">
      <h3 class="item-name">
        マカロニ
      </h3>
      <div class="item-price">
        150円、購入する
      </div>
    </div>
  </div>
  <div class="item">
    <div class="item-img-content">
    </div>
    <div class="item-info">
      <h3 class="item-name">
        うどん
      </h3>
      <div class="item-price">
        98円、購入する
      </div>
    </div>
  </div>

</div>

<div class="form">
  <div class="create-item">
    <a href="#">商品追加</a>
  </div>
</div>