<div class="side-ber-header">
  <div class="header-name">
    <a href="#">Mihiro</a>
  </div>
  <div class="create-store">
    <a href="#">作成</a>
  </div>
</div>

<div class="stores">
  <div class="store">
    <div class="store-name">
      <a href="#">store1</a>
    </div>
  </div>
  <div class="store">
    <div class="store-name">
      <a href="#">store2</a>
    </div>
  </div>
</div>